.flexContainer {
  overflow: hidden;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  word-break: break-word;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.alignItemsBaseline {
  align-items: baseline;
}

.dontExpandChildren {
  align-items: flex-start; // Dont force flex items (node children) to expand full width of parent
}

.spaceBetween {
  justify-content: space-between;
}

@mixin _col12($wrap-topSpacing, $wrap-leftSpacing) {
  flex-wrap: wrap;
  margin: calc(0px - #{$wrap-topSpacing}) 0 0 calc(0px - #{$wrap-leftSpacing});

  @include bpDesktop() {
    flex-wrap: nowrap;
  }

  > * {
    flex-basis: 100%;
    margin: $wrap-topSpacing 0 0 $wrap-leftSpacing;

    @include bpDesktop() {
      flex-basis: calc(50% -  #{$wrap-leftSpacing});
    }

    @include bpDesktop() {
      flex-basis: 100%;
    }
  }
}

.col12s3030 {
  @include _col12(28px, 28px);
}

.col12s2020 {
  @include _col12(20px, 20px);
}

.col12s1010 {
  @include _col12(10px, 10px);
}

.col12s1640 {
  @include _col12(16px, 40px);
}

.col12s1424 {
  @include _col12(14px, 24px);
}

.col12s1414 {
  @include _col12(14px, 14px);
}

.col222s1616 {
  @include bpDesktop() {
    flex-wrap: nowrap;
  }

  @include responsiveFluidGrid(16px, 16px, 50%, 50%, 50%, 100%, 100%);
}

.col12_s88 {
  @include responsiveFluidGrid(8px, 8px, 100%, 50%, 50%, 50%, 50%);
}

.col12_s1616 {
  @include responsiveFluidGrid(16px, 16px, 100%, 50%, 50%, 50%, 50%);
}

.col12_s2424 {
  @include responsiveFluidGrid(24px, 24px, 100%, 50%, 50%, 50%, 50%);
}
