@use "font" as *;
@use "colors" as *;

@mixin buttonRegular {
  font-family: $header-font;
  font-size: 16px;
  line-height: 48px;
  height: 48px;
  font-weight: 600;
  width: 304px;
  color: $color-white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;

  &:focus {
    outline: none;
  }
}
