@use "layout" as *;
@use "font" as *;

$leftSpacing: 22px;
$topSpacing: 40px;

@mixin _responsiveAndFluidItem($topSpacing, $leftSpacing, $mob, $mobLand, $tab, $des, $wide) {
  flex-basis: calc(#{$mob} - #{$leftSpacing});
  margin: $topSpacing 0 0 $leftSpacing;

  @include bpMobileLandscape() {
    flex-basis: calc(#{$mobLand} - #{$leftSpacing});
  }

  @include bpDesktop() {
    flex-basis: calc(#{$tab} - #{$leftSpacing});
  }

  @include bpDesktop() {
    flex-basis: calc(#{$des} - #{$leftSpacing});
  }

  @include bpWidescreen300() {
    flex-basis: calc(#{$wide} - #{$leftSpacing});
  }
}

@mixin responsiveAndFluidItem($topSpacing, $leftSpacing, $mob, $mobLand, $tab, $des, $wide) {
  flex-basis: calc(#{$mob} - #{$leftSpacing});
  margin: $topSpacing 0 0 $leftSpacing;

  @include bpMobileLandscape() {
    flex-basis: calc(#{$mobLand} - #{$leftSpacing});
  }

  @include bpDesktop() {
    flex-basis: calc(#{$tab} - #{$leftSpacing});
  }

  @include bpDesktop() {
    flex-basis: calc(#{$des} - #{$leftSpacing});
  }

  @include bpWidescreen300() {
    flex-basis: calc(#{$wide} - #{$leftSpacing});
  }
}

@mixin _fluidItem($topSpacing, $leftSpacing, $noColumns) {
  flex-basis: calc(100% / #{$noColumns} - #{$leftSpacing});
  margin: $topSpacing 0 0 $leftSpacing;
}

@mixin _column($topSpacing) {
  flex-wrap: wrap;
  margin-top: calc(0px - #{$topSpacing});
}

@mixin _grid($topSpacing, $leftSpacing) {
  flex-wrap: wrap;
  margin: calc(0px - #{$topSpacing}) 0 0 calc(0px - #{$leftSpacing});
}

@mixin grid($topSpacing, $leftSpacing) {
  flex-wrap: wrap;
  margin: calc(0px - #{$topSpacing}) 0 0 calc(0px - #{$leftSpacing});
}

@mixin responsiveFluidGrid($topSpacing, $leftSpacing, $mob, $mobLand, $tab, $des, $wide) {
  flex: 1;
  display: flex;
  overflow: hidden;
  word-break: break-word;
  flex-wrap: wrap;
  margin: calc(0px - #{$topSpacing}) 0 0 calc(0px - #{$leftSpacing});

  > * {
    @include _responsiveAndFluidItem($topSpacing, $leftSpacing, $mob, $mobLand, $tab, $des, $wide);
  }
}
