.topMenuDesktop {
  display: flex;
  width: 100%;
  height: 100%;
  //@include miniLabel();
  // AND BOTTONS
  font-family: brandon-grotesque-bold, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 14px;
  // AND BOTTONS
}

.routeListing {
  display: flex;
  flex: 1;
  list-style-type: none;

  .routeLink {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $color-white;
    text-decoration-line: none;
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #5641f2;
    }

    &.menuItemActive {
      color: $color-black;
    }
  }
}
