.snxSynthSwapListingRoute {

}

.swapHistoryTable {
  border-collapse: collapse;

  .trHeader {
    height: 40px;
    background-color: #f0f0f0;
  }

  .th, .td {
    border: 1px solid lightgray;
    padding: 6px 10px;
  }

  .tr {
    text-align: left;
  }

  .thButton {
    font-weight: bold;
  }
}

.swapHistoryRow {
}
