@mixin box-sizing($type: border-box) {
  box-sizing: $type;
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
}

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
