@mixin _includeBgCoBc($bg-color, $color, $border-color) {
  background-color: $bg-color;
  color: $color;
  border-color: $border-color;
}

@mixin _btn-active($bg-color, $color: initial, $border-color: initial) {
  &:active {
    @include _includeBgCoBc($bg-color, $color, $border-color);
  }
}

@mixin _btn-hover($bg-color, $color: initial, $border-color : initial) {
  &:hover {
    @include _includeBgCoBc($bg-color, $color, $border-color);
  }
}

@mixin _btn-disabled($bg-color, $color: initial, $border-color : initial) {
  &:disabled {
    @include _includeBgCoBc($bg-color, $color, $border-color);
    cursor: initial;
    pointer-events: none;
  }
  &[data-disabled=true] {
    @include _includeBgCoBc($bg-color, $color, $border-color);
    cursor: initial;
    pointer-events: none;
  }
}

@mixin _btn-focus($outline) {
  &:focus {
    outline: $outline;
  }
}

._btn {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 16px;
}

.btnContained {
  color: $font-white;
  background-color: $color-dark;

  @extend ._btn;

  @include _btn-hover($color-black, $font-white);
  @include _btn-active($color-black, $font-white);
  @include _btn-disabled($color-disabled, $font-light);
  @include _btn-focus(none);
}

.btnContainedMd {
  height: 46px;
  @extend .btnContained;
}

.btnContainedMintrMd {
  height: 46px;
  @extend .btnContained;
  background-color: rgb(114, 124, 255);
  border-radius: 0;
}

.btnContainedMintrSm {
  @extend .btnContained;
  height: 26px;
  background-color: rgb(114, 124, 255);
  border-radius: 0;
  width: 100%;
}

.btnContainedSm {
  height: 26px;
  @extend .btnContained;
}

/** ____ Outlined Buttons ____ */
.btnOutlined {
  border: 1px solid $color-black;

  color: $font-black;
  background-color: $color-white;

  @extend ._btn;

  @include _btn-hover(#F6F6F6);
  @include _btn-active(#F6F6F6);
  @include _btn-focus(none);
}

.btnOutlinedSm {
  height: 26px;
  @extend .btnOutlined;
}
